.recommendation-card-container {
  text-align: center;
}

.recommendation-cards {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
  overflow-x: scroll;
  width: 350px;
}

.recommendation-card {
  color: black;
  margin: 10px;
}
